body{
    font-family: "Arial";
    width: 1500px;
    text-align: center;
    color: whitesmoke;
    background-color: lightblue;
}
h3{
    font-size: xx-large;
}

.guessButton{
    font-family: "Arial";
    width: 150px;
    color:black;
    background: palevioletred;
}

.backButton{
    font-family: "Arial";
    width: 150px;
    color:black;
    background: bisque ;
}
.againButton{
    font-family: "Arial";
    width: 150px;
    color:black;
    background: darkgray;
}